@import "tailwindcss";

@theme inline {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}
